<h2>Products</h2>

<table>
  <tr>
    <td>{{ Names[0].name }}</td>
    <td>
      <button type="button" class="tooltip" (click)="share()">
        Parent Click<span>{{ Names[0].groupNo }}</span>
      </button>
    </td>
  </tr>
  <tr>
    <td>{{ Names[1].name }}</td>
    <td>
      <button type="button" class="tooltip" (click)="share()">
        Parent Click<span>{{ Names[1].groupNo }}</span>
      </button>
    </td>
  </tr>
  <tr>
    <td>{{ Names[2].name }}</td>
    <td>
      <button type="button" class="tooltip" (click)="share()">
        Parent Click<span>{{ Names[2].groupNo }}</span>
      </button>
    </td>
  </tr>
</table>

<app-product-child (child)="onChild()"></app-product-child>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
